.Header {
  .navbar-brand {
    svg {
      top: -2px;
      position: relative;
    }
  }
  .settingsButton {
    color: white;
    &:hover {
      background-color: lightgray;
      color: #233;
    }
  }
}
