.Graph {
  .react-transform-component,
  .react-transform-element {
    width: 100%;
    height: 80vh;
    position: relative;
  }
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  svg {
    position: absolute;
    .rels {
      .relPath {
        fill: none;
        stroke-linecap: round;
        stroke-width: 14;
        stroke: #eee;
        transition: all ease-in-out 0.2s;
      }
    }
  }
  .nodes {
    position: absolute;
    .node {
      position: absolute;
      transition: all ease-in-out 0.2s;
      background-color: #eee;
      border: 1px solid grey;
      border-radius: 5px;
      padding: 5px;
      transform: translate(-50%, -50%);
      .img {
        float: left;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: middle;
          object-fit: cover;
        }
      }
      .content {
        float: left;
        padding-left: 4px;
        line-height: 16px;
        font-size: 13px;
        .label {
          font-weight: bold;
          max-height: 32px; //line h * 2
          overflow: hidden;
        }
        .description {
          margin-top: 2px;
          color: gray;
          max-height: 48px; //line h *3
          overflow: hidden;
        }
      }
      .parentCount,
      .childrenCount {
        border-radius: 20px;
        padding: 2px 6px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-width: 27px;
      }
      .parentCount {
        top: -20px;
      }
      .childrenCount {
        bottom: -20px;
      }
    }
  }
}
