.GraphWrapper {
  position: relative;
  .react-transform-component,
  .react-transform-element,
  .Graph {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .svgContainer {
    position: absolute;
  }
  .nodes {
    position: absolute;
  }
}
