.Settings {
  .langDropdown {
    .dropdown-toggle {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      .langLabel {
        color: #212529;
      }
    }
    .dropdown-menu {
      position: relative;
      width: 100%;
      .langList {
        max-height: 200px;
        overflow-y: scroll;
        margin-bottom: 0;
      }
    }
    .filterWrapper {
      padding: 0 1.3rem;
      margin-bottom: 8px;
    }
  }
}
