.DetailsModal {
  .allImages {
    margin-bottom: 3px;
    overflow: hidden;
    min-height: 172px; // to avoid jumps when the image loads
    img {
      max-height: 168px; //remember multi line here
      max-width: 100%;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }

  .addImagesLink {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .externalLinks {
    a {
      padding: 1px;
      margin-right: 10px;
      display: inline-block;
      line-height: 1;
      img {
        vertical-align: middle;
        width: 32px;
      }
    }
  }
  .wds-icon {
    height: 30px;
    width: 30px;
  }
}
