.Node {
  box-sizing: border-box;
  position: absolute;
  transition: all ease-in-out 0.2s;
  background-color: #eee;
  border: 1px solid grey;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  .img {
    float: left;
    border-radius: 3px;
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: middle;
      object-fit: cover;
    }
  }
  .content {
    float: left;
    padding-left: 4px;
    position: relative;
    .label {
      font-size: 13px;
      line-height: 15px;
      font-weight: bold;
      max-height: 30px; //line h * 2
      overflow: hidden;
    }
    .description {
      margin-top: 2px;
      font-size: 12px;
      line-height: 14px;
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .dates {
      margin-top: 1px;
      font-size: 10px;
      color: grey;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .externalLinks {
      position: absolute;
      bottom: 0;
      left: 5px;
      height: 16px;
      a {
        margin-right: 5px;
        display: inline-block;
        height: 16px;
        width: 16px;
        img {
          vertical-align: top;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
  .counter {
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    min-width: 27px;
    z-index: 99;
  }
  .siblingCount {
    left: -20px;
  }
  .spouseCount {
    right: -20px;
  }
  .siblingCount,
  .spouseCount {
    top: 50%;
    transform: translateY(-50%);
  }
  .parentCount,
  .childrenCount {
    left: 50%;
    transform: translateX(-50%);
  }
  .parentCount {
    top: -20px;
  }
  .childrenCount {
    bottom: -20px;
  }
}
