.SearchBar {
  background-color: #eee;
  .searchBox {
    position: relative;
    color: #212529;
    padding: 12px 0;
    margin: 0;

    .shouldSelectProp {
      //border-color: green;
    }
  }
  .dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
  }
  .dropdown-menu {
    max-height: 32 * 8px + 8px !important;
    overflow-y: auto;
  }
  .submitButton {
    margin-bottom: 1rem;
    width: 100%;
  }
  .Suggestions {
    position: absolute;
    top: 42px;
    width: 100%;
    background-color: #f8f9fa;
    .searchingMessage {
      padding: 0.375rem 0.75rem;
      color: grey;
      .spinner-border {
        width: 1.2em;
        height: 1.2em;
        margin-right: 10px;
      }
    }
    .searchResultBtn {
      width: 100%;
      text-align: left;
      line-height: 1.2;
      b {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i {
        display: block;
        color: gray;
        text-decoration: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
