.SettingsModalDialog {
  position: absolute;
  margin: 0;
  height: 100vh;
  right: 0;
  .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: none;
  }
}

.SettingsModal {
  .dropdown-toggle {
    display: inline-block;
    padding: 0.4rem 0;
    .label {
      color: #212529;
    }
  }
  .dropdown-menu {
    .filterWrapper {
      padding: 0 1.3rem;
      margin-bottom: 8px;
    }
    .list {
      max-height: 200px;
      overflow-y: scroll;
      margin-bottom: 0;
    }
  }
  .langDropdown {
    .dropdown-menu {
      left: 0;
      width: 100%;
      max-width: 320px;
    }
  }
  .imageDropdown {
    .dropdown-toggle {
      vertical-align: top;
      display: inline-block;
      padding: 0;
    }
  }
}
