.App {
  .messages {
    position: fixed;
    z-index: 999;
    top: 62px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .examplesButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }
  .dropdown-toggle::after {
    vertical-align: middle;
  }
}
