.App {
  @media (min-width: 576px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .messages {
    position: fixed;
    z-index: 999;
    top: 62px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  //This stuff should be in its own page!
  .examplesButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }

  .dropdown-toggle::after {
    vertical-align: middle;
  }
  .navbar-brand {
    margin-right: 0;
  }

  &.light {
    .Node {
      //padding: 0;
      background-color: rgb(250, 238, 222);
      //border-radius: 3px;
      .content {
        //padding-top: 3px;
        .label {
          font-size: 14px;
        }
      }
    }
  }

  &.big {
    .Node {
      //padding: 0;
      //background-color: rgb(250, 238, 222);
      //border-radius: 3px;
      .content {
        padding-top: 3px;
        .label {
          font-size: 14px;
        }
        .dates {
          font-size: 12px !important;
        }
      }
    }
  }

  &.dark {
  }
}
