.Footer {
  //height: 58px;
  .navbar-nav {
    flex-direction: row;
    a {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .rightLinks {
    @media (max-width: 768px) {
      margin-left: unset !important;
    }
  }
}
